# Project exclude paths
/out/
/.idea/.gitignore
/libs/annotations-13.0.jar
/libs/annotations-13.0-javadoc.jar
/libs/annotations-13.0-sources.jar
/libs/apiguardian-api-1.0.0.jar
/libs/apiguardian-api-1.0.0-javadoc.jar
/libs/apiguardian-api-1.0.0-sources.jar
/libs/apiguardian-api-1.1.0.jar
/libs/apiguardian-api-1.1.0-javadoc.jar
/libs/apiguardian-api-1.1.0-sources.jar
/libs/junit-jupiter-api-5.0.0.jar
/libs/junit-jupiter-api-5.0.0-javadoc.jar
/libs/junit-jupiter-api-5.0.0-sources.jar
/libs/junit-jupiter-api-5.6.0.jar
/libs/junit-jupiter-api-5.6.0-javadoc.jar
/libs/junit-jupiter-api-5.6.0-sources.jar
/libs/junit-jupiter-engine-5.6.0.jar
/libs/junit-jupiter-engine-5.6.0-javadoc.jar
/libs/junit-jupiter-engine-5.6.0-sources.jar
/libs/junit-platform-commons-1.0.0.jar
/libs/junit-platform-commons-1.0.0-javadoc.jar
/libs/junit-platform-commons-1.0.0-sources.jar
/libs/junit-platform-commons-1.6.0.jar
/libs/junit-platform-commons-1.6.0-javadoc.jar
/libs/junit-platform-commons-1.6.0-sources.jar
/libs/junit-platform-engine-1.6.0.jar
/libs/junit-platform-engine-1.6.0-javadoc.jar
/libs/junit-platform-engine-1.6.0-sources.jar
/kotlin.iml
/libs/kotlin-stdlib-1.4.10.jar
/libs/kotlin-stdlib-1.4.10-javadoc.jar
/libs/kotlin-stdlib-1.4.10-sources.jar
/libs/kotlin-stdlib-common-1.4.10.jar
/libs/kotlin-stdlib-common-1.4.10-javadoc.jar
/libs/kotlin-stdlib-common-1.4.10-sources.jar
/libs/kotlin-test-1.4.10.jar
/libs/kotlin-test-1.4.10-javadoc.jar
/libs/kotlin-test-1.4.10-sources.jar
/libs/kotlin-test-annotations-common-1.4.10.jar
/libs/kotlin-test-annotations-common-1.4.10-javadoc.jar
/libs/kotlin-test-annotations-common-1.4.10-sources.jar
/libs/kotlin-test-common-1.4.10.jar
/libs/kotlin-test-common-1.4.10-javadoc.jar
/libs/kotlin-test-common-1.4.10-sources.jar
/libs/kotlin-test-junit5-1.4.10.jar
/libs/kotlin-test-junit5-1.4.10-javadoc.jar
/libs/kotlin-test-junit5-1.4.10-sources.jar
/.idea/kotlinc.xml
/.idea/libraries/KotlinJavaRuntime.xml
/.idea/libraries/KotlinJavaRuntime__2_.xml
/.idea/misc.xml
/.idea/modules.xml
/libs/opentest4j-1.0.0.jar
/libs/opentest4j-1.0.0-javadoc.jar
/libs/opentest4j-1.0.0-sources.jar
/libs/opentest4j-1.2.0.jar
/libs/opentest4j-1.2.0-javadoc.jar
/libs/opentest4j-1.2.0-sources.jar
/.idea/vcs.xml
